<p>home works! </p>
<h2>4.0 Hello Generic CRUD .NET Core EF with Dapper and Angular !!</h2>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> (Angular Cli) and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<hr>
<p>This is my 4th Iteration on this project. Below in descending order are high points of evolution:

</p>
<ul>
  <li><strong>4.0 Generic CRUD</strong> Here I have removed (for now) nuget package dependency and in so doing replaced some of the .NET Reflection code with the Dapper dependency.
        Technology Elements of current iteration include:
        <ul>
          <li>.NET Core 3.x </li>
          <li>Swashbuckle/Swagger API Page </li>
          <li>Entity Framework and Dapper for Data Access/Management</li>
          <li>Single Generic Controller and Generic Service for CRUD</li>
          <li>SQL Server Database</li>
          <li>Angular 8 UI with Generic Component for all CRUD</li>
        </ul>
  </li>
  <li><strong>3.x Generic CRUD</strong> Here I was still using .NET Framework (no Core) and No Dapper
    Technology Elements of that iteration included:
    <ul>
      <li>.NET 4.x with Entity Framework, SQL Server and Angular</li>
      <li>Custom Nuget Package containing Reflection code for the Generic CRUD</li>
      <li>Single Generic Controller and Generic Service for CRUD</li>
    </ul>
</li>
<li><strong>2.x Generic CRUD</strong> .NET Framework with Angular.js
  Technology Elements of that iteration included:
  <ul>
    <li>.NET with Entity Framework, SQL Server and Angular.js</li>
    <li>Single Generic Controller and Generic Service for CRUD</li>
  </ul>
</li>
<li><strong>1.x Generic CRUD</strong> Active Server Pages
  Technology Elements of that iteration included:
  <ul>
    <li>ASP.NET, ADO with SQL Server</li>
    <li>Single Generic Controller and Generic Service for CRUD</li>
  </ul>
</li>
 </ul>
<!-- <p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
 -->
